/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
*.swp
resources/dataset
.DS_Store
resources/ROUGE-RELEASE-1.5.5
resources/ROUGE-EVAL/ROUGE.out
resources/ROUGE-EVAL/models
resources/ROUGE-EVAL/systems
resources/ROUGE-EVAL/settings.xml
resources/DUC-2006
resources/DUC-2007
*.system
.nrepl-port
.nfs*
